* {
    border-radius: 15px;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Orbitron', sans-serif;
}

body {
    justify-content: center;
    align-items: center;
}

#calculator {
    background: #222;
    width: 405px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

#display {
    background-color: black;
    box-sizing: border-box;
    padding: 15px;
    height: 100px;
    border: 2px solid white;
    color: white;
    font-size: 45px;
    display: flex;
    justify-content: end;
    align-items: center;
}

#buttons {
    background-color: #222;
    width: 405px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
}

.operation {
    background-color: orange;
}

#clear {
    background-color: red;
}

#equal {
    background: #34c759;
}

button {
    width: 90px;
    height: 90px;
    box-sizing: border-box;
    background: #333;
    color: white;
    border: 0px;
}

button:hover {
    border: 3px solid greenyellow;
}

.operation:hover, #equal:hover {
    border: 3px solid white;
}

#zero {
    width: 195px;
}